.env

# Ignore model files
*.pth
*.pt

# Ignore training metric logs
*.json

# Ignore notebook Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/

# Ignore saved model weights
*.safetensors
*.bin
*.pt

# Ignore full model folders
src/bert_classification_model/
src/results/